# Python short review
In this notebook selected python concepts related to data analysis are reviewed with example code
* Data types
* operators
* Loops
* functions
* Lambda expression
* Map and filter

In [3]:
# Basic operation
2/2 # Division
2*2 # Multiplication
2+2 # Addition
2-2 # Subtraction
2**2 # exponentiation
5%2 # modulo operator

1

In [5]:
# Variables in pythin do not need a type definition
x = 4
x

4

In [7]:
x = x**x
x

256

In [8]:
print(x) # we can avoid Out using the print method

256

In [9]:
# Strings we can use single or double qoates
"I am here"

'I am here'

In [10]:
'I am here'

'I am here'

In [11]:
x = 'Hello'
x

'Hello'

In [18]:
#we can use the curly brace to insert vaiable values in printable string
number = 23
name = 'Desta'
'My number is {} and my name is {}'.format(number, name)

'My number is 23 and my name is Desta'

In [20]:
# We can also use position indicators like follows
# To avoid worrying about the order of arguments
print('My number is {one} and my name is {two}'.format(one=number, two=name))

My number is 23 and my name is Desta

* Sequence of elements, arrays and strings

In [21]:
s = 'hello'

In [24]:
s[1], s[4]

('e', 'o')

* Slicing arrays

In [25]:
s = 'Iamdoinggreat'

In [26]:
s[:3]

'Iam'

In [27]:
s[2:5]

'mdo'

* Lists

In [28]:
['a', 'b', 'c']

['a', 'b', 'c']

In [29]:
my_list = ['a', 'b', 'c']
my_list

['a', 'b', 'c']

In [30]:
my_list.append('d')
my_list

['a', 'b', 'c', 'd']

In [32]:
# We can do slicing lists like strings
my_list[1:3]

['b', 'c']

In [33]:
# We can replace a memner of a list
my_list[0] = 'Me'
my_list

['Me', 'b', 'c', 'd']

In [34]:
# We can create nested lists as follows
nested = [[1, 2, 3], [4, 5, 6]]
nested

[[1, 2, 3], [4, 5, 6]]

In [35]:
nested[1][2]

6

In [36]:
nested[1]

[4, 5, 6]

In [37]:
# We can also mix types in a list or nested list
mixed = [[1, 2, 3], [4, 5, 6], [7, 8, ['mix']]]
mixed

[[1, 2, 3], [4, 5, 6], [7, 8, ['mix']]]

* Dictionaries are key value pairs like hash table

In [38]:
d = {'key1':'item1','key2':'item2'}

In [40]:
d

{'key1': 'item1', 'key2': 'item2'}

In [41]:
d['key1']

'item1'

In [ ]:
# Dictionaries can also be of mixed types

In [42]:
a = {'k1': 24, 'k2': [3, 4, 6]}
a

{'k1': 24, 'k2': [3, 4, 6]}

In [45]:
# We can access elements using proper indexing
# of outer and inner indexes when necessary
a['k2'][1]

4

* Tuples are sequence of characters in parenthesis

In [46]:
t = (1, 2, 3)
t

(1, 2, 3)

In [47]:
# We access elements in tuple like wise
t[1]

2

In [48]:
# tuples are imutable and do not support item assingment
t[1] = 'new'

TypeError: 'tuple' object does not support item assignment

* Set  is collection of unique elements

In [49]:
se = set([1, 3, 1, 2, 4, 5, 2, 1])
se

{1, 2, 3, 4, 5}

* Cpmparison Operators

In [50]:
1 <=2

True

In [51]:
1==2

False

In [52]:
(1==2) or (2>3) or (3>=3)

True

* Conditions if elif

In [53]:
if 1 < 2:
    print('True')

True

In [55]:
#Executes blocks of codes depending on the condition
# Blocks are put using the same indentation
if 1 ==2:
    print('True')
elif 3>4:
    print('Yes')
else:
    print('False')

False

* Loops = for loops and while loops

In [56]:
seq = [1,2,3,4,5,6]
for item in seq:
    print(item)

1
2
3
4
5
6

In [61]:
i = 4
while i > 0:
    print ('i is: {} in the current loop'.format(i))
    i=i-1

i is: 4 in the current loop
i is: 3 in the current loop
i is: 2 in the current loop
i is: 1 in the current loop

In [62]:
# The range function - we do not have to initialize a vaiable and decrement
for j in range(0, 5):
    print(j)

0
1
2
3
4

In [63]:
# We can use for loop to create a list
x = [1,2,3,4,5]
out = []
for num in x:
    out.append(num**2)

In [64]:
out

[1, 4, 9, 16, 25]

In [66]:
#Short hand for the above could be
[num**2 for num in x]

[1, 4, 9, 16, 25]

In [ ]:
# Or to put it in the list
out2 = [num**2 for num in x]
out2

* Defining a function in pythin - the def keyword

In [70]:
def my_func(param1):
    print('Hello ' +param1)
my_func('Desta')

Hello Desta

In [71]:
def my_func(param1='Default Name'):
    print('Hello ' +param1)
my_func() # calls the function

Hello Default Name

In [72]:
#This asks pythin what this object is
# in this case it tells us this object us a function
my_func

In [73]:
def square(num):
    return num**2

In [75]:
y = square(4)
y

16

In [76]:
""" This is a muliline comment in python"""
4

4

In [78]:
list(range(2,6))
# includes lower bound and excludes upper bounf

[2, 3, 4, 5]

In [79]:
def square(num):
    """ This is a muliline comment in python
    we can use it when we have big comment"""
    return num**2

In [81]:
square(2)

4

* Map and filter functions

In [87]:
seq = [1,2,3,4,5,6]
def times2(var):
    return var*2

In [89]:
map(times2,seq) # We have the times2 function maped into the memory location

In [90]:
def times2(var):return var*2 # also works

In [92]:
#Further improvement we can use the lambda expression
t = lambda var:var*2
#Further
list(map(lambda num:num*3, seq))

[3, 6, 9, 12, 15, 18]

* Filter expression

In [94]:
list(filter(lambda num: num%2 == 0, seq))

[2, 4, 6]

* Methods

In [95]:
s = "Hello my name is s"

In [96]:
# We can use the tab button to get the list of methods that we can apply on s
#Eg. we can use the split() method on white space
s.split()

['Hello', 'my', 'name', 'is', 's']

In [97]:
#We can use any other character to split a string
ss = 'Mine#Vine'
ss.split('#')

['Mine', 'Vine']

In [98]:
# We can use values to retunrn values of a dictionary
# Dictionary do not have order
d.values()

dict_values(['item1', 'item2'])

In [99]:
my_list

['Me', 'b', 'c', 'd']

In [100]:
# we can use the pop method to remove the last element
my_list.pop()

'd'

In [101]:
my_list

['Me', 'b', 'c']

In [102]:
#Or the append method to add an item
my_list.append('me gaina')
my_list

['Me', 'b', 'c', 'me gaina']

In [103]:
#The in operator - to chekc if an elemnt is in a list
'x' in my_list

False

In [105]:
'b' in my_list

True

In [106]:
#Tuple unpacking
# iterating through items in a tuple
z = [(1,2), (3,4), (5,6)]

In [109]:
for item in z:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [115]:
#This is a tuple unpacking
for a,b in z:
    print('and')
    print(a)
    print('and')
    print(b)

and
1
and
2
and
3
and
4
and
5
and
6